<%= form_with(model: rug, local: true) do |form| %>
  <% if rug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rug.errors.count, "error") %> prohibited this rug from being saved:</h2>

      <ul>
      <% rug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name  %>
  </div>
  
  <div class="field">
    <%= form.label :datetimes %>
    <%= form.text_field :datetimes, name: "datetimes" %>
  </div>

  <div class="field">
    <%= form.label :start_times %>
    <%= form.text_field :start_time, data: { behavior: 'daterangepicker' }  %>
  </div>

 

  




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
$(function() {
  $('input[name="datetimes"]').daterangepicker({
    timePicker: true,
    startDate: moment().startOf('hour'),
    endDate: moment().startOf('hour').add(32, 'hour'),
    locale: {
      format: 'M/DD hh:mm A'
    }
  });
});
</script>
