<p id="notice"><%= notice %></p>

<h1>Rangexes</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Finish</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rangexes.each do |rangex| %>
      <tr>
        <td><%= rangex.start %></td>
        <td><%= rangex.finish %></td>
        <td><%= link_to 'Show', rangex %></td>
        <td><%= link_to 'Edit', edit_rangex_path(rangex) %></td>
        <td><%= link_to 'Destroy', rangex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rangex', new_rangex_path %>
